node-RED/node_red_flows_sprint1.txt
[{"id":"cbdb11f1.1432b","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"174a2eba.eec351","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"d9ba406d.b01ae","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"2c42d2f7.86761e","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"7f54480d.ac3668","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"e46d807e.4305c","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"e4680f65.dca72","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"2d8a3367.eb49fc","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"11fe423c.a6e76e","type":"ui_group","z":"","name":"LED manager","tab":"2d8a3367.eb49fc","disp":true,"width":"6","collapse":false},{"id":"cfdae3bb.d7795","type":"MySQLdatabase","z":"","host":"mysql","port":"3306","db":"mydb","tz":""},{"id":"797a6d9e.feb554","type":"ui_group","z":"","name":"Databese CRUD","tab":"2d8a3367.eb49fc","disp":true,"width":"6","collapse":false},{"id":"aa632d34.bc35c","type":"mqtt-broker","z":"","name":"","broker":"mqtt.mobilisis.hr","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7863b1cd.67a68","type":"inject","z":"cbdb11f1.1432b","name":"","topic":"","payload":"On","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":110,"y":340,"wires":[[]]},{"id":"c3b8011e.9e9a1","type":"debug","z":"cbdb11f1.1432b","name":"","active":true,"console":"false","complete":"false","x":910,"y":280,"wires":[]},{"id":"c30f56f3.dc16f8","type":"http request","z":"cbdb11f1.1432b","name":"","method":"PUT","ret":"obj","url":"http://hwmanager:8000/api/v1/gpio","tls":"","x":570,"y":280,"wires":[["cf816f1b.4137e"]]},{"id":"248e0f48.80e62","type":"function","z":"cbdb11f1.1432b","name":"function A","func":"if (msg.payload == \"On\") {\n    msg.payload = {\n  \"name\": \"DIO_A\",\n  \"direction\": \"out\",\n  \"value\": \"1\"\n    };\n    msg.headers = {};\n    msg.headers['Content-Type'] = 'application/json';\n    return msg;\n}\nelse if (msg.payload == \"Off\"){\n    msg.payload = {\n  \"name\": \"DIO_A\",\n  \"direction\": \"out\",\n  \"value\": \"0\"\n    };\n    msg.headers = {};\n    msg.headers['Content-Type'] = 'application/json';\n    return msg;\n}\n\n\n","outputs":1,"noerr":0,"x":360,"y":260,"wires":[["c30f56f3.dc16f8"]]},{"id":"d0bdf7b7.e55288","type":"inject","z":"cbdb11f1.1432b","name":"","topic":"","payload":"Off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":420,"wires":[["d6a27013.09f05","7ffcfec1.1ac1"]]},{"id":"d6a27013.09f05","type":"debug","z":"cbdb11f1.1432b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":320,"y":460,"wires":[]},{"id":"7ffcfec1.1ac1","type":"function","z":"cbdb11f1.1432b","name":"function B","func":"console.log(msg.payload);\n\nif (msg.payload == \"On\") {\n    msg.payload = {\n  \"name\": \"DIO_B\",\n  \"direction\": \"out\",\n  \"value\": \"1\"\n    };\n    \n}\nelse if (msg.payload == \"Off\"){\n    msg.payload = {\n  \"name\": \"DIO_B\",\n  \"direction\": \"out\",\n  \"value\": \"0\"\n};\n}\n\n\nmsg.headers = {};\nmsg.headers['Content-Type'] = 'application/json';\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":420,"wires":[[]]},{"id":"df06dd96.7519c","type":"http in","z":"d9ba406d.b01ae","name":"","url":"/test1","method":"get","upload":false,"swaggerDoc":"","x":130,"y":220,"wires":[["97437034.2391c"]]},{"id":"d37291d4.5d13c","type":"http response","z":"d9ba406d.b01ae","name":"","statusCode":"","headers":{},"x":440,"y":220,"wires":[]},{"id":"97437034.2391c","type":"template","z":"d9ba406d.b01ae","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <title>Node-RED custom site</title>\n    </head>\n    <body>\n        <h1>Hello</h1>\n        <p>Text</p>\n    </body>\n</html>","output":"str","x":280,"y":220,"wires":[["d37291d4.5d13c"]]},{"id":"da0996e5.57d268","type":"function","z":"174a2eba.eec351","name":"function A","func":"console.log(msg.payload);\n\nif (msg.payload == \"On\") {\n    msg.payload = {\n  \"name\": \"DIO_A\",\n  \"direction\": \"out\",\n  \"value\": \"1\"\n    };\n    \n}\nelse if (msg.payload == \"Off\"){\n    msg.payload = {\n  \"name\": \"DIO_A\",\n  \"direction\": \"out\",\n  \"value\": \"0\"\n};\n}\n\n\nmsg.headers = {};\nmsg.headers['Content-Type'] = 'application/json';\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":100,"wires":[["ff81e202.f58c5"]]},{"id":"ff81e202.f58c5","type":"http request","z":"174a2eba.eec351","name":"","method":"PUT","ret":"obj","url":"http://hwmanager:8000/api/v1/gpio","tls":"","x":570,"y":120,"wires":[["d47b4ab8.0a0b58"]]},{"id":"d47b4ab8.0a0b58","type":"debug","z":"174a2eba.eec351","name":"","active":true,"console":"false","complete":"false","x":770,"y":120,"wires":[]},{"id":"f81452b6.80da6","type":"ui_button","z":"174a2eba.eec351","name":"","group":"11fe423c.a6e76e","order":0,"width":0,"height":0,"passthru":false,"label":"On","color":"","bgcolor":"","icon":"","payload":"On","payloadType":"str","topic":"","x":120,"y":80,"wires":[["da0996e5.57d268"]]},{"id":"4db83270.b0a0cc","type":"ui_button","z":"174a2eba.eec351","name":"","group":"11fe423c.a6e76e","order":0,"width":0,"height":0,"passthru":false,"label":"Off","color":"","bgcolor":"","icon":"","payload":"Off","payloadType":"str","topic":"","x":120,"y":180,"wires":[["da0996e5.57d268"]]},{"id":"56b8cd9b.124404","type":"ui_button","z":"174a2eba.eec351","name":"","group":"797a6d9e.feb554","order":0,"width":0,"height":0,"passthru":false,"label":"Random","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":260,"y":260,"wires":[["8e0818ed.6544b8"]]},{"id":"8eb196ec.393708","type":"mysql","z":"174a2eba.eec351","mydb":"cfdae3bb.d7795","name":"","x":730,"y":220,"wires":[["b53001f8.c05f9"]]},{"id":"5f540165.617e3","type":"switch","z":"174a2eba.eec351","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":260,"wires":[["8eb196ec.393708"],["60010914.920768"]]},{"id":"60010914.920768","type":"debug","z":"174a2eba.eec351","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":300,"wires":[]},{"id":"8e0818ed.6544b8","type":"function","z":"174a2eba.eec351","name":"SQL Query","func":"msg.topic = \"SELECT * FROM user\" \nreturn msg;","outputs":1,"noerr":0,"x":430,"y":260,"wires":[["5f540165.617e3"]]},{"id":"b53001f8.c05f9","type":"function","z":"174a2eba.eec351","name":"Output","func":"msg.payload = msg.payload[0].id + \" \" + msg.payload[0].podatak;\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":220,"wires":[["7c33d382.c3308c"]]},{"id":"7c33d382.c3308c","type":"ui_template","z":"174a2eba.eec351","group":"797a6d9e.feb554","name":"","order":0,"width":0,"height":0,"format":"<body>\n    <textarea id=\"test1\">{{msg.payload}}</textarea>\n</body>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1020,"y":220,"wires":[[]]},{"id":"cf816f1b.4137e","type":"function","z":"cbdb11f1.1432b","name":"","func":"msg.payload = String(msg.statusCode)\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":280,"wires":[["c3b8011e.9e9a1","1655fee0.0b8da1"]]},{"id":"1655fee0.0b8da1","type":"mqtt out","z":"cbdb11f1.1432b","name":"","topic":"foi/test","qos":"0","retain":"false","broker":"aa632d34.bc35c","x":910,"y":180,"wires":[]},{"id":"f0d717b2.a1a548","type":"mqtt in","z":"cbdb11f1.1432b","name":"","topic":"foi/test","qos":"2","broker":"aa632d34.bc35c","x":130,"y":240,"wires":[["248e0f48.80e62"]]},{"id":"34f2f14e.32caae","type":"function","z":"2c42d2f7.86761e","name":"Event Manager","func":"if (msg.payload.type == \"call\") \n{\n    var result = \"Denied\";\n    if (msg.payload.phone == \"+385993115444\") result = \"Open\";\n    if (msg.payload.phone == \"+385993115443\") result = \"Open\";\n    msg.payload.result = result;\n    return(msg);\n}\nif (msg.payload.type == \"general\") return(msg);\nif (msg.payload.type == \"sms\") {\n   msg.payload.smsaction = \"I got SMS with text \" + msg.payload.text;\n}\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":420,"wires":[["104da63b.de6dba","4f14459.48381bc"]]},{"id":"104da63b.de6dba","type":"debug","z":"2c42d2f7.86761e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":260,"wires":[]},{"id":"22aad473.5ab39c","type":"inject","z":"2c42d2f7.86761e","name":"Open","topic":"","payload":"{ \"type\": \"general\", \"action\": \"open\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":260,"wires":[["34f2f14e.32caae"]]},{"id":"50009a81.616274","type":"inject","z":"2c42d2f7.86761e","name":"Close","topic":"","payload":"{ \"type\": \"general\", \"action\": \"close\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":320,"wires":[["34f2f14e.32caae"]]},{"id":"42b3365f.087bd8","type":"inject","z":"2c42d2f7.86761e","name":"Call Bero","topic":"","payload":"{\"type\":\"call\",\"phone\":\"+385993115444\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":580,"wires":[["34f2f14e.32caae"]]},{"id":"2485b42c.d77f1c","type":"inject","z":"2c42d2f7.86761e","name":"Midnight close","topic":"","payload":"{ \"type\": \"general\", \"action\": \"close\"}","payloadType":"json","repeat":"","crontab":"59 23 * * *","once":false,"onceDelay":0.1,"x":240,"y":440,"wires":[["34f2f14e.32caae"]]},{"id":"e8bac4e.0fd9838","type":"inject","z":"2c42d2f7.86761e","name":"SMS","topic":"","payload":"{\"type\":\"sms\",\"phone\":\"+385993115444\",\"text\":\"open\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":500,"wires":[["34f2f14e.32caae"]]},{"id":"30f075f7.a6b90a","type":"inject","z":"2c42d2f7.86761e","name":"Call Goran","topic":"","payload":"{\"type\":\"call\",\"phone\":\"+385993115443\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":620,"wires":[["34f2f14e.32caae"]]},{"id":"d529229f.6a86d","type":"inject","z":"2c42d2f7.86761e","name":"Call Rene","topic":"","payload":"{\"type\":\"call\",\"phone\":\"+385911527964\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":660,"wires":[["34f2f14e.32caae"]]},{"id":"a82c35b8.6fa338","type":"inject","z":"2c42d2f7.86761e","name":"SMS","topic":"","payload":"{\"type\":\"sms\",\"phone\":\"+385993115444\",\"text\":\"adduser Marko +123456\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":470,"y":700,"wires":[["34f2f14e.32caae"]]},{"id":"8e537414.697f38","type":"http request","z":"2c42d2f7.86761e","name":"","method":"PUT","ret":"obj","url":"http://hwmanager:8000/api/v1/gpio","tls":"","x":930,"y":600,"wires":[["af6d7568.fe4968"]]},{"id":"4f14459.48381bc","type":"function","z":"2c42d2f7.86761e","name":"function A","func":"console.log(msg.payload);\nmsg.headers = {};\nmsg.headers['Content-Type'] = 'application/json';\n\nif (msg.payload.result == \"Open\" ) {\n    msg.payload = {\n  \"name\": \"DIO_A\",\n  \"direction\": \"out\",\n  \"value\": \"1\"\n    };\n   return [msg,null];\n    \n}\nelse if (msg.payload.result == \"Denied\"){\n    return [null,msg];\n}\nreturn [null,null];\n","outputs":2,"noerr":0,"x":740,"y":660,"wires":[["8e537414.697f38"],["de9c9a26.a2f448"]]},{"id":"1a767ab9.e28cd5","type":"debug","z":"2c42d2f7.86761e","name":"","active":false,"console":"false","complete":"false","x":1230,"y":760,"wires":[]},{"id":"af6d7568.fe4968","type":"delay","z":"2c42d2f7.86761e","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1000,"y":640,"wires":[["9207da9.b3d1028"]]},{"id":"9207da9.b3d1028","type":"function","z":"2c42d2f7.86761e","name":"function A","func":"msg.payload = {\n  \"name\": \"DIO_A\",\n  \"direction\": \"out\",\n  \"value\": \"0\"\n};\nmsg.headers = {};\nmsg.headers['Content-Type'] = 'application/json';\nreturn msg;","outputs":1,"noerr":0,"x":1060,"y":680,"wires":[["cad1cd05.a217c"]]},{"id":"cad1cd05.a217c","type":"http request","z":"2c42d2f7.86761e","name":"","method":"PUT","ret":"obj","url":"http://hwmanager:8000/api/v1/gpio","tls":"","x":1150,"y":720,"wires":[["1a767ab9.e28cd5"]]},{"id":"de9c9a26.a2f448","type":"debug","z":"2c42d2f7.86761e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":760,"wires":[]},{"id":"bfe85fb6.6024a","type":"inject","z":"7f54480d.ac3668","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":160,"wires":[["3ce33c1f.d42f04"]]},{"id":"3ce33c1f.d42f04","type":"http request","z":"7f54480d.ac3668","name":"","method":"GET","ret":"txt","url":"http://192.168.1.10:5000/api/values","tls":"","x":470,"y":200,"wires":[["fbf8539.e6561b"]]},{"id":"fbf8539.e6561b","type":"debug","z":"7f54480d.ac3668","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":200,"wires":[]},{"id":"e1012876.605b68","type":"inject","z":"e46d807e.4305c","name":"Get IP","topic":"ip","payload":"eth0","payloadType":"none","repeat":"300","crontab":"","once":false,"x":160,"y":140,"wires":[["833a7515.40c558"]]},{"id":"d750fbcf.646158","type":"function","z":"e46d807e.4305c","name":"Compare IP","func":"context.lastip = context.lastip || 'initial';\nvar currentip = msg.payload;\n\nif (context.lastip == 'initial') {\ncontext.lastip = currentip;\n}\nelse if (context.lastip != currentip) {\nmsg.payload = currentip;\ncontext.lastip = currentip;\nreturn msg;\n}\n\n","outputs":"1","x":781,"y":141.5,"wires":[["106cb051.de7f5"]]},{"id":"833a7515.40c558","type":"exec","z":"e46d807e.4305c","command":"wget -qO- http://bot.whatismyipaddress.com/ ; echo","append":"","useSpawn":"","name":"Call IP - whatismyipaddress.com","x":363,"y":140.5,"wires":[["79421266.457fac"],[],[]]},{"id":"79421266.457fac","type":"switch","z":"e46d807e.4305c","name":"Integrity check","property":"payload","rules":[{"t":"regex","v":"\\b(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\b"},{"t":"else"}],"checkall":"true","outputs":2,"x":605,"y":140.5,"wires":[["d750fbcf.646158"],[]]},{"id":"96e2913c.42575","type":"debug","z":"e46d807e.4305c","name":"","active":true,"console":false,"complete":false,"x":791,"y":184,"wires":[]},{"id":"106cb051.de7f5","type":"http request","z":"e46d807e.4305c","name":"Update no-ip.com","method":"GET","url":"http://username:password@dynupdate.no-ip.com/nic/update?hostname=yourhost.no-ip.org&myip={{payload}}","x":610,"y":184,"wires":[["96e2913c.42575"]]},{"id":"269b04df.d6adec","type":"inject","z":"e46d807e.4305c","name":"Test IP address","topic":"","payload":"192.168.1.9","payloadType":"string","repeat":"","crontab":"","once":false,"x":605,"y":98,"wires":[["d750fbcf.646158"]]}]