node-RED/Open object with SMS via restAPI and database.txt
[{"id":"aa4dd659.266688","type":"tab","label":"Send and receive SMS","disabled":false,"info":""},{"id":"9ff946d5.fc2458","type":"inject","z":"aa4dd659.266688","name":"Click to send","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":210,"y":120,"wires":[["2c52a03c.78f48"]]},{"id":"230f374a.2ae6b8","type":"debug","z":"aa4dd659.266688","name":"SMS Send Log","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":760,"y":120,"wires":[]},{"id":"4dfc8990.060e58","type":"http request","z":"aa4dd659.266688","name":"API Call","method":"POST","ret":"obj","url":"http://hwmanager:8000/api/v1/sms","tls":"","x":560,"y":120,"wires":[["230f374a.2ae6b8"]]},{"id":"2c52a03c.78f48","type":"function","z":"aa4dd659.266688","name":"Setup SMS","func":"msg.payload = \n{\n  \"PhoneNumber\": \"+385911527964\",\n  \"Text\": \"Dodan vam je pristup u sustav. Za otvaranje rampe posaljite poruku 'On' na: +385918127132 Lokacija:  Varazdin, Jalkovec https://goo.gl/maps/TawXdZ3k9g32\"\n};\nmsg.headers = {};\nmsg.headers['Content-Type'] = 'application/json';\nmsg.headers['Authorization'] = 'Basic c2VydmljZTpzZXJ2aWNlbGV2ZWw=';\nreturn msg;\n//\"PhoneNumber\": \"+385993115526\",","outputs":1,"noerr":0,"x":390,"y":120,"wires":[["4dfc8990.060e58"]]},{"id":"efafee2c.a7186","type":"websocket in","z":"aa4dd659.266688","name":"SMS Receive","server":"13de9ff3.12114","client":"","x":190,"y":180,"wires":[["7f8f54a9.b772ac"]]},{"id":"7aa4ad57.901e04","type":"debug","z":"aa4dd659.266688","name":"SMS Receive Log","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":470,"y":360,"wires":[]},{"id":"7f8f54a9.b772ac","type":"function","z":"aa4dd659.266688","name":"function A","func":"var a = JSON.parse(msg.payload);\nmsg.payload = a.Data.Sms.Text;\n//return msg;\n\nif (msg.payload == \"On\") {\n    msg.payload = {\n  \"name\": \"DIO_A\",\n  \"direction\": \"out\",\n  \"value\": \"1\"\n    };\n    msg.headers = {};\n    msg.headers['Content-Type'] = 'application/json';\n    return msg;\n}\nelse if (msg.payload == \"Off\"){\n    msg.payload = {\n  \"name\": \"DIO_A\",\n  \"direction\": \"out\",\n  \"value\": \"0\"\n    };\n    msg.headers = {};\n    msg.headers['Content-Type'] = 'application/json';\n    return msg;\n}\n\n\n","outputs":1,"noerr":0,"x":360,"y":240,"wires":[["7aa4ad57.901e04","81e30d5d.d14a1"]]},{"id":"81e30d5d.d14a1","type":"http request","z":"aa4dd659.266688","name":"","method":"PUT","ret":"obj","url":"http://hwmanager:8000/api/v1/gpio","tls":"","x":550,"y":260,"wires":[["43daf986.b83c58","f72b34b0.f38ab8"]]},{"id":"43daf986.b83c58","type":"debug","z":"aa4dd659.266688","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":840,"y":260,"wires":[]},{"id":"f72b34b0.f38ab8","type":"delay","z":"aa4dd659.266688","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":700,"y":320,"wires":[["adc91c4b.b2dfc"]]},{"id":"adc91c4b.b2dfc","type":"function","z":"aa4dd659.266688","name":"function A","func":"msg.payload = {\n  \"name\": \"DIO_A\",\n  \"direction\": \"out\",\n  \"value\": \"0\"\n};\nmsg.headers = {};\nmsg.headers['Content-Type'] = 'application/json';\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":300,"wires":[["b8205800.acbd28"]]},{"id":"b8205800.acbd28","type":"http request","z":"aa4dd659.266688","name":"","method":"PUT","ret":"obj","url":"http://hwmanager:8000/api/v1/gpio","tls":"","x":1050,"y":300,"wires":[["f90303dc.a07e1"]]},{"id":"f90303dc.a07e1","type":"debug","z":"aa4dd659.266688","name":"","active":false,"console":"false","complete":"false","x":1250,"y":300,"wires":[]},{"id":"2461d70c.669ab8","type":"http request","z":"aa4dd659.266688","name":"","method":"POST","ret":"obj","url":"http://192.168.1.15:5000/api/values","tls":"","x":390,"y":540,"wires":[["de440e00.e1c09","599ec87c.1f9cf8"]]},{"id":"de440e00.e1c09","type":"debug","z":"aa4dd659.266688","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":580,"wires":[]},{"id":"59f7f73e.1b30e8","type":"function","z":"aa4dd659.266688","name":"Send data to api","func":"var recivedData = JSON.parse(msg.payload);\nvar convertedData= {\n    \"TriggerTypeName\": Object.keys(recivedData.Data)[0],\n    \"Value\": recivedData.Data.Sms.PhoneNumber,\n    \"Text\": recivedData.Data.Sms.Text\n};\nmsg.payload = JSON.stringify(convertedData);\nmsg.headers = {};\nmsg.headers['Content-Type'] = 'application/json';\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":500,"wires":[["2461d70c.669ab8","f193f3d8.a04fd"]]},{"id":"4a4085e7.b1ef0c","type":"websocket in","z":"aa4dd659.266688","name":"SMS Receive","server":"13de9ff3.12114","client":"","x":130,"y":480,"wires":[["59f7f73e.1b30e8"]]},{"id":"638500cb.1d5aa","type":"debug","z":"aa4dd659.266688","name":"SMS Receive Log","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":690,"y":640,"wires":[]},{"id":"599ec87c.1f9cf8","type":"function","z":"aa4dd659.266688","name":"function A","func":"var a = msg.payload\n//return msg;\n\nif (a.access) {\n    msg.payload = {\n  \"name\": a.objectAccess[0],\n  \"direction\": \"out\",\n  \"value\": \"1\"\n    };\n    msg.headers = {};\n    msg.headers['Content-Type'] = 'application/json';\n    return msg;\n}\n\n\n\n","outputs":1,"noerr":0,"x":580,"y":500,"wires":[["638500cb.1d5aa","4d151e37.e88e6"]]},{"id":"4d151e37.e88e6","type":"http request","z":"aa4dd659.266688","name":"","method":"PUT","ret":"obj","url":"http://hwmanager:8000/api/v1/gpio","tls":"","x":770,"y":500,"wires":[["331ea47e.2e56fc","a35d5842.31a828"]]},{"id":"331ea47e.2e56fc","type":"debug","z":"aa4dd659.266688","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":970,"y":640,"wires":[]},{"id":"f6cdca1c.277d48","type":"inject","z":"aa4dd659.266688","name":"On","topic":"","payload":"{\"MessageType\":\"SmsReceived\",\"MessageTime\":\"2018-10-30T13:04:41.8790471+00:00\",\"Data\":{\"Sms\":{\"Guid\":\"c41285e6-c323-4008-b042-a65eff4d2e0d\",\"PhoneNumber\":\"385911527964\",\"Text\":\"Lesa sjever\",\"Timestamp\":\"2018-10-30T14:04:39+01:00\"}}}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":70,"y":580,"wires":[["59f7f73e.1b30e8"]]},{"id":"a35d5842.31a828","type":"delay","z":"aa4dd659.266688","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":940,"y":500,"wires":[["482aecc4.3814d4"]]},{"id":"482aecc4.3814d4","type":"function","z":"aa4dd659.266688","name":"function A","func":"msg.payload = {\n  \"name\": \"DIO_A\",\n  \"direction\": \"out\",\n  \"value\": \"0\"\n};\nmsg.headers = {};\nmsg.headers['Content-Type'] = 'application/json';\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":500,"wires":[["176c4d23.1b6943"]]},{"id":"176c4d23.1b6943","type":"http request","z":"aa4dd659.266688","name":"","method":"PUT","ret":"obj","url":"http://hwmanager:8000/api/v1/gpio","tls":"","x":1350,"y":500,"wires":[["4ab5bef8.e8325"]]},{"id":"4ab5bef8.e8325","type":"debug","z":"aa4dd659.266688","name":"","active":true,"console":"false","complete":"false","x":1230,"y":640,"wires":[]},{"id":"f193f3d8.a04fd","type":"debug","z":"aa4dd659.266688","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":460,"wires":[]},{"id":"da48fbfb.efa058","type":"inject","z":"aa4dd659.266688","name":"Off","topic":"","payload":"{\"MessageType\":\"SmsReceived\",\"MessageTime\":\"2018-10-30T13:04:41.8790471+00:00\",\"Data\":{\"Sms\":{\"Guid\":\"c41285e6-c323-4008-b042-a65eff4d2e0d\",\"PhoneNumber\":\"385911527964\",\"Text\":\"Off\",\"Timestamp\":\"2018-10-30T14:04:39+01:00\"}}}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":280,"wires":[["7f8f54a9.b772ac"]]},{"id":"13de9ff3.12114","type":"websocket-listener","z":"","path":"ws://hwmanager:8000/ws/v1/sms","wholemsg":"false"}]